body
{
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    background-color: #e9e9e9;
}

    body p
    {
        font-size: 0.8em;
        line-height: 1.28;
    }

#wrapper
{
    width: 1080px;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    border: 5px solid #dedede;
}

#banner
{
    background-image: url('../Images/teamwork.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 100px;
    /*border: 3px solid #E3E3E3;*/
    text-align: right;
    color: #4633FF;
}

#content_area
{
    float: left;
    width: 700px;
    height: 550px;
    margin: 10px 0 10px 0;
    padding: 10px;
}

#sidebar
{
    float: right;
    width: 250px;
    height: 500px;
    margin: 20px 10px 20px 10px;
    padding: 10px;
    border: 2px solid #E3E3E3;
}

#footer
{
    clear: both;
    width: auto;
    height: 40px;
    padding: 10px;
    border: 3px solid #E3E3E3;
    text-align: center;
    color: #F2F60B;
    text-shadow: 0.1em 0.1em #333;
    background-image: url(../Images/bar_background.png);
}

#navigation
{
    height: 50px;
    border: 3px solid #E3E3E3;
    margin-top: 10px;
    background-image: url(../Images/bar_background.png);
    text-shadow: 0.1em 0.1em #333;
}


#subnav
{
    list-style: none;
}

    /*#subnav ul
    {
        list-style: none;
        margin: 0;
        padding: 0;
        width: auto;
        display: none;
    }*/
    
    /*

    #subnav li
    {
        font-size: 14px;
        float: left;
        width: 100px;
        height: 30px;
        display: inline-block;
        vertical-align: top;
    }
    */

        #subnav li ul li
        {
            /*background-image: url(../Images/bar_background_menu.png);
            background-repeat: no-repeat;
            background-size: cover;*/
            /*border: 0.8px solid #6C8895;
            width: 165px;
            height: 20px;*/
            padding-left: 10px;
            left: 100%;

        }

    #subnav a:link, #nav a:active, #nav a:visited
    {
        display: block;
        color: #fff;
        text-decoration: none;
        position:absolute;
        /*background-image: url(../Images/bar_background_menu.png);*/
    }

    /*#subnav a:hover
    {
        color: brown;
        position: relative;
    }*/


#nav
{
    list-style: none;
}

    #nav ul
    {
        list-style: none;
        margin: 0;
        padding: 0;
        width: auto;
        display: none;
    }

    #nav li
    {
        font-size: 14px;
        float: left;
        position: relative;
        width: 146px;
        height: 30px;
    top: 0px;
    left: 0px;
}

        #nav li ul li
        {
            background-image: url(../Images/bar_background.png);
            background-repeat: no-repeat;
            /*background-size: cover;*/
            border: 0.8px solid #6C8895;
            width: 150px;
            height: 20px;

        }

    #nav a:link, #nav a:active, #nav a:visited
    {
        display: block;
        color: #fff;
        text-decoration: none;
    }

    #nav a:hover
    {
        color: lightblue;
    }

.imgLeft
{
    float: left;
    width: 240px;
    height: 150px;
    margin: 0px 10px 10px 0;
    padding: 10px;
}

.imgRight
{
    float: right;
    width: 200px;
    height: 250px;
    margin: 0px 0 10px 10px;
    padding: 10px;
}

.imgCenter
{
    float: left;
    margin: 0px 0px 0px 29px;
    padding: 10px;
}

